:root {
    --main-color:rgb(251, 236, 236);
    --background-color:hsl(0, 29%, 97%);
    --color:rgb(231, 231, 240) ;
}

.demo {
    color: var(--main-color);
}

.Paragraph {
    color: var(--color);
}

.Container {
    height: 100vh;
    width: 100%;
    background-image: url(../image/image-2.jpeg);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

